

<nav class="navbar rowmargin navbar-title">
  <ul class="nav navbar-nav navbar-left">
    <li><a  role="button" aria-haspopup="true"
      aria-expanded="false" >Home</a>
     </li>

     <li><a   role="button" aria-haspopup="true"
      aria-expanded="false" >My projects</a>
     </li>

     <li><a   role="button" aria-haspopup="true"
      aria-expanded="false" >Revenue</a>
     </li>

     <li><a  role="button" aria-haspopup="true"
      aria-expanded="false" >Risks</a>
     </li>

     <li><a role="button" aria-haspopup="true"
      aria-expanded="false" >Settings</a>
    </li>

     <li><a role="button" aria-haspopup="true"
      aria-expanded="false" ></a>
     </li>
     
  </ul>    <!-- Tabs ends -->
   
  <ul  class="nav navbar-right navbar-nav customize-navbar" data-toggle="collapse" data-target="#demo">
 

    <li><a   role="button" aria-haspopup="true"
      aria-expanded="false" >
        </a>
        <ul class="dropdown-menu navDropdown signOut" >
          <li><a  role="button" aria-haspopup="true" aria-expanded="false"></a></li>
        </ul>

     </li>
  </ul>
</nav>


<app-suggested-proj></app-suggested-proj>
<app-activity></app-activity>
<app-chart></app-chart>


